@model IEnumerable<GestionAbscences.Data.employehasentite>
@using GridMvc.Html
@{
    ViewBag.Title = "Employe-Entite";
}

<h2>Liste  </h2>

<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<!DOCTYPE html>
<html lang="en">
<head>


    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> Employe Entite </title>

    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                    @*<table class="table">*@
                    <thead>
                        <tr class="table-success">
                            <th style="text-align:center;">
                               Date
                            </th>
                            <th style="text-align:center;">
                               Matricule
                            </th>
                           
                            <th style="text-align:center;">
                                Designation
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>


                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.employe.matricule)
                            </td>

                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.entite.Designation)
                            </td>
                            @*  <td>
          @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |

        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
                            *@
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/datatables-demo.js"></script>

</body>
</html>
