@model List<GestionAbscences.Data.typeconge>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/RH/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>   @GestionAbscences.Langagues.Resource1.HistoriquedesDemandedeConge </title>

    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>



</head>

<body>


    <div class="sb-nav-fixed">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                type de congé
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    @using (Html.BeginForm("Index", "typeconges", FormMethod.Post))
                    {
                        <table class="table table-bordered">


                            <thead>
                                <tr class="table-success">
                                    <th></th>
                                    <th>
                                        @*            @Html.DisplayNameFor(model => model.designation)
                                        *@
                                        designation
                                    </th>
                                    <th>
                                        duree
                                        @*            @Html.DisplayNameFor(model => model.dureeJ)
                                        *@
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td> @Html.HiddenFor(model => model[i].idtypeConge)</td>
                                        <td >
                                            @Html.EditorFor(model => model[i].designation, new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model[i].dureeJ)
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>

                        <p><input type="submit" value="Save" /></p>
                        <p> @ViewBag.Message</p>
                    }

                </div>
            </div>
        </div>
    </div>
    </body>
</html>

    @*<button type="submit" style="padding-left:60px; padding-right:60px;" class="btn btn-primary btn-primary  btn-lg bt">  Valider </button>*@
