@model GestionAbscences.Data.employe
@using GestionAbscences.Data;

<title> Demange de Conge </title>

<h3 style="color:crimson; font-weight:100; font-weight:bold; margin-left:110px;"> @Session["demande"]   </h3>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-0 " style="margin-right:2px;margin-top:10px; margin-left:60px;height:auto;">

                <div class="card-header " style="background-color:#EFEFEF; "><h3 class="text-center font-weight-normal ">DEMANDE DE CONGE <h5 class="text-center font-weight-normal ">(Nombre de jours qui reste : @Session["nbjoursR"].ToString())</h5> </h3></div>

                <div class="signup-form" style="margin-left:20px; ">

                    @using (Html.BeginForm("Dashboard1", "Demande"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div class="row align-items-start">
                            <div class="col">
                                <div class="label-flex">

                                    <label class="text-center text-decoration-underline" style="color:cornflowerblue" for="TITRE">Choix de Congé</label>
                                </div>


                                <div>

                                </div>
                                <div class="form-group">

                                    <div class="form-radio">
                                        <div class="label-flex">
                                            <label for="regulier">1.REGULIER</label>
                                        </div>
                                        <div class="form-radio-group">
                                            <div class="form-radio-item">


                                                @{
                                                    string x = Session["nbjours"].ToString();
                                                    string x1 = Session["nbjoursR"].ToString();

                                                    var y = float.Parse(x);
                                                    var y1 = float.Parse(x1);
                                                    var y2 = y - 10;

                                                    int t1 = Convert.ToInt32(Session["tranche1"]);
                                                    int t2 = Convert.ToInt32(Session["tranche2"]);
                                                    int t3 = Convert.ToInt32(Session["rel"]);

                                                    int t4 = Convert.ToInt32(Session["test1"]);
                                                    int t5 = Convert.ToInt32(Session["test2"]);
                                                    int t6 = Convert.ToInt32(Session["test3"]);

                                                }





                                                @if (t5 > 0)
                                                {
                                                    if (t3 > 0 || t6 > 0)
                                                    {
                                                        <input type="radio" name="typeCongeIdTypeconge" id="reliquat" value="reliquat" disabled>
                                                        <label style="color:gray;" for="reliquat">Reliquat</label>

                                                    }

                                                    else
                                                    {
                                                        <input type="radio" name="typeCongeIdTypeconge" id="reliquat" value="reliquat" onclick="masquer_div1();">
                                                        <label for="reliquat">Reliquat</label>
                                                    }

                                                }
                                                else
                                                {
                                                    <input type="radio" name="typeCongeIdTypeconge" id="reliquat" value="reliquat" disabled>
                                                    <label style="color:gray;" for="reliquat">Reliquat</label>
                                                }



                                                <span class="check"></span>
                                            </div>


                                            <div class="form-radio-item">

                                                @if (t1 == 0 && t4 == 0)
                                                {
                                                    <input type="radio" name="typeCongeIdTypeconge" id="1 ere tranche" value="1 ere tranche" onclick="masquer_div1();">
                                                    <label for="1 ere tranche">1 ere tranche</label>



                                                }

                                                @if (t1 > 0 || t4 > 0)
                                                {
                                                    <input type="radio" name="typeCongeIdTypeconge" id="1 ere tranche" value="1 ere tranche" disabled>
                                                    <label style="color:gray;" for="1 ere tranche">1 ere tranche</label>
                                                }


                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">

                                                @if (t4 > 0)
                                                {
                                                    if (t2 > 0 || t5 > 0)
                                                    {
                                                        <input type="radio" name="typeCongeIdTypeconge" id="2 eme tranche" value="2 eme tranche" disabled>
                                                        <label style="color:gray;" for="2 eme tranche">2ème tranche</label>

                                                    }

                                                    else
                                                    {
                                                        <input type="radio" name="typeCongeIdTypeconge" id="2 eme tranche" value="2 eme tranche" onclick="masquer_div1();">
                                                        <label for="2 eme tranche">2ème tranche</label>
                                                    }

                                                }
                                                else
                                                {
                                                    <input type="radio" name="typeCongeIdTypeconge" id="2 eme tranche" value="2 eme tranche" disabled>
                                                    <label style="color:gray;" for="2 eme tranche">2ème tranche</label>
                                                }





                                                <span class="check"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="label-flex">
                                    <label for="Exceptionnel/cr">2.EXCEPTIONNEL/CR</label>
                                </div>
                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="1/2 journée" value="1/2 journée" onclick="masquer_div1();">
                                        <label for="1/2 journée">1/2 journée</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="1 journée" value="1 journée" onclick="masquer_div1();">
                                        <label for="1 journée">1 journée</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="1.5 journée" value="1.5 journée" onclick="masquer_div1();">
                                        <label for="1.5 journée">1.5 journée</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="2 journée" value="2 journée" onclick="masquer_div1();">
                                        <label for="2 journée">2 journée</label>
                                        <span class="check"></span>
                                    </div>
                                </div>


                                <div class="label-flex">
                                    <label for="EXCEPTIONNEL A.SOLDE">3.EXCEPTIONNEL A.SOLDE</label>
                                </div>
                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="Mariage" value="Mariage" onclick=" masquer_marriage()">
                                        <label for="Mariage">Mariage</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="Naissance" value="Naissance" onclick="masquer_div1();">
                                        <label for="Naissance">Naissance</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="Circoncision" value="Circoncision" onclick="masquer_div1();">
                                        <label for="Circoncision">Circoncision</label>
                                        <span class="check"></span>
                                    </div>

                                </div>
                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                    </div>
                                    <div class="form-radio-item">

                                        <input type="radio" name="typeCongeIdTypeconge" id="Décès" value="Décès" onclick="masquer_div();">
                                        <label for="Décès">Décès</label>
                                        <span class="check"></span>
                                    </div>

                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="Opération chirurgicale" value="Opération chirurgicale" onclick="masquer_oper()">
                                        <label for="Opération chirurgicale">Opération chirurgicale</label>
                                        <span class="check"></span>
                                    </div>
                                </div>


                                <div class="control-group" id="a_masquer" style="display:none;">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <label class="control-label" for="deces">Catégories</label>
                                        </div>
                                        <div class="col">
                                            <div class="controls">
                                                @Html.DropDownList("deces1", new List<SelectListItem>
                                                  { new SelectListItem {Text="Parents (3jours)" , Value ="1"},
                                                  new SelectListItem {Text="Enfant (3jours)" , Value ="2"},
                                                  new SelectListItem {Text="Conjoint (3jours)" , Value ="3"},
                                                  new SelectListItem {Text="D'un frère ou d'une soeur du salarie(2jours)" , Value ="4"},
                                                  new SelectListItem {Text="D'un frère ou d'une soeur du conjoint(2jours)" , Value ="5"},

                                       }, "--Selectionner--")

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group" id="a_marriage" style="display:none;">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <label class="control-label" for="mariage">Catégories</label>
                                        </div>
                                        <div class="col">
                                            <div class="controls">
                                                @Html.DropDownList("marriage1", new List<SelectListItem>
                                                  { new SelectListItem {Text="Du salarie (4jours)" , Value ="1"},
                                                  new SelectListItem {Text="D'un enfant du salarie (2jours)" , Value ="2"} }, "--Selectionner--")

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group" id="a_operation" style="display:none;">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <label class="control-label" for="deces">Catégories</label>
                                        </div>
                                        <div class="col">
                                            <div class="controls">
                                                @Html.DropDownList("operation", new List<SelectListItem>
                                                    { new SelectListItem {Text="Du conjoint (2jours)" , Value ="1"},
                                                    new SelectListItem {Text="D'un enfant à charge (2jours)" , Value ="2"} }, "--Selectionner--")

                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="label-flex">
                                    <label for="RECUPERATION">4.RECUPERATION</label>
                                </div>

                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="H.S" value="H.S" onclick="masquer_div1();">
                                        <label for="H.S">H.S</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="J.R" value="J.R" onclick="masquer_div1();">
                                        <label for="J.R">J.R</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="J.F" value="J.F" onclick="masquer_div1();">
                                        <label for="J.F">J.F</label>
                                        <span class="check"></span>
                                    </div>
                                </div>





                                <div class="form-input">


                                    <label for="chequeno">DU</label>
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <input type="DATE" name="date1" id="date1" style="padding:2px;" />
                                        </div>
                                        <div class="col">
                                            <input type="time" id="time1" name="time1" style="padding:2px;">

                                        </div>
                                    </div>

                                </div>

                                <div class="label-flex">
                                    <label for="regulier">5.SANS SOLDE</label>
                                </div>

                                <div class="form-radio-group">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="heures" value="heures" onclick="masquer_div1();">
                                                <label for="heures">Heures</label>
                                                <input type="text" id="heureSansSolde" name="heureSansSolde" style="padding:2px;">
                                                <span class="check"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="jour" value="jours" onclick="masquer_div1();">
                                                <label for="jour">Jours</label>
                                                <input type="date" name="jourSansSolde" id="jourSansSolde" style="padding:2px;" />
                                                <span class="check"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col">
                                <br />




                                <div class="form-group col">
                                    <div></div>
                                    <div class="form-input">
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <label for="nomComplet">Nom & Prenom</label>
                                                <input type="text" name="nomComplet" id="nomComplet" value="@Session["userName"]" style="padding:2px; " />
                                                @Html.ValidationMessageFor(model => model.NomComplet, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <div class="row align-items-start">

                                            <div class="col">
                                                <label for="matricule">Matricule</label>
                                                <input type="text" name="matricule" id="matricule" value="@Session["matricule"]" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.idEmploye, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col">
                                                <label for="affectation">Affectation</label>
                                                <input type="text" name="affectation" id="affectation" value="@Session["affectation"]" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.affectation, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input ">

                                        <label for="DATE FIN">Durée de Congé</label>

                                        <label for="chequeno">DU</label>
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <input type="DATE" name="dateDebut" id="dateDebut" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col">
                                                <input type="time" id="timeDebut" name="timeDebut" style="padding:2px;">
                                                @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-input ">
                                        <label for="chequeno">AU</label>
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <input type="DATE" name="dateFin" id="dateFin" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col">
                                                <input type="time" id="timeFin" name="timeFin" style="padding:2px;">
                                                @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="form-group shadow-textarea">
                                            <label for="justification">Observation</label>
                                            <textarea class="form-control z-depth-1" name="justification" id="justification" rows="4" placeholder="votre observation"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-submit ">

                                        <div class="row align-items-start">
                                            <div class="col">
                                                @*<input type="submit" value="Envoyer" class=" btn btn-lg btn-success " id="submit" name="submit" />*@
                                                <button type="submit" style="padding-left:60px; padding-right:60px;" class="btn btn-primary btn-primary  btn-lg bt" id="submit" name="submit"> Valider </button>
                                            </div> <div class="col">
                                                <button type="reset" style="padding-left:60px; padding-right:60px;" class="btn btn-primary btn-danger btn-lg" name="reset"> Reset </button>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>



                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function masquer_div() {
        if (document.getElementById('a_masquer').style.display == 'none') {
            document.getElementById('a_masquer').style.display = 'block';

        }
        if (document.getElementById('a_operation')) {
            document.getElementById('a_operation').style.display = 'none';
        }
        if (document.getElementById('a_marriage')) {
            document.getElementById('a_marriage').style.display = 'none';
        }
        document.getElementById('dateFin').disabled = true;
        document.getElementById('timeFin').disabled = true;
    }

</script>
<script type="text/javascript">
    function masquer_marriage() {
        if (document.getElementById('a_marriage').style.display == 'none') {
            document.getElementById('a_marriage').style.display = 'block';


        }
        if (document.getElementById('a_masquer')) {
            document.getElementById('a_masquer').style.display = 'none';
        }
        if (document.getElementById('a_operation')) {
            document.getElementById('a_operation').style.display = 'none';
        }
        document.getElementById('dateFin').disabled = true;
        document.getElementById('timeFin').disabled = true;
    }

</script>
<script type="text/javascript">
    function masquer_oper() {
        if (document.getElementById('a_operation').style.display == 'none') {
            document.getElementById('a_operation').style.display = 'block';

        }

        if (document.getElementById('a_masquer')) {
            document.getElementById('a_masquer').style.display = 'none';
        }
        if (document.getElementById('a_marriage')) {
            document.getElementById('a_marriage').style.display = 'none';
        }
        document.getElementById('dateFin').disabled = true;
        document.getElementById('timeFin').disabled = true;


    }

</script>
<script type="text/javascript">
    function masquer_div1() {
        if (document.getElementById('a_masquer')) {
            document.getElementById('a_masquer').style.display = 'none';

        }
        if (document.getElementById('a_marriage')) {
            document.getElementById('a_marriage').style.display = 'none';
        }
        if (document.getElementById('a_operation')) {
            document.getElementById('a_operation').style.display = 'none';
        }
        document.getElementById('dateFin').disabled = false;
        document.getElementById('timeFin').disabled = false;

    }

</script>

<script src="~/Content/cont2/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/cont2/js/main.js"></script>
<link rel="stylesheet" href="~/Content/cont2/css/style.css">



