@model GestionAbscences.Models.ChangePasswordModel

@{
    ViewBag.Title = "change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow-lg border-0 rounded-lg mt-5" style="margin-right:80px; margin-left:80px; ">
    <div class="card-header"><h3 class="text-center font-weight-blod my-4">Changer le mot de passe</h3></div>
    <div class="card-body">

        @using (Html.BeginForm("changePassword", "employe", FormMethod.Post))
        {
            @Html.AntiForgeryToken()



            <div class="form-horizontal">

                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.confirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.confirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.confirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enregistrer" class="btn btn-success" />
                        <input type="reset" value="Annuler" class="btn btn-info" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


