@model IEnumerable<GestionAbscences.Data.demandeconge>

@{
    ViewBag.Title = "historique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    @using (Html.BeginForm("choixVal", "Historique", FormMethod.Post))

    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="btn btn-primary" onclick="fnExcelReport();">Export EXCEL</div>


        
                <br>

                <div class="sb-nav-fixed">


                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Nombre de jour de conges de @Session["userName"]
                        </div>
                        <div class="card-body">
                            <div class="table">

                                <div class="row align-items-start">
                                    <div class="col-4" style=" text-align:center;font-weight:bold;">
                                        Nombre de jour total
                                    </div>
                                    <div class="col-2">
                                        @Session["nbjours"]
                                    </div>
                                    <div class="col-4" style=" text-align:center;font-weight:bold;">
                                        Nombre de jour Restants
                                    </div>
                                    <div class="col-2">
                                        @Session["nbjoursR"]
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                @* <div class="card mb-4">*@
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Historique des demandes de conges de  @Session["userName"]
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="table-success">
                                        <th>
                                            @*Html.DisplayNameFor(model => model.DateDC)*@
                                            Date creation DC
                                        </th>
                                        <th>
                                            @*Html.DisplayNameFor(model => model.employe.matricule)*@
                                            Matricule
                                        </th>
                                        <th>
                                            @*Html.DisplayNameFor(model => model.employe.NomComplet)*@
                                            Nom complet
                                        </th>
                                        <th>
                                            @*Html.DisplayNameFor(model => model.typeconge.designation)*@
                                            Designation
                                        </th>
                                        <th>
                                            @*Html.DisplayNameFor(model => model.DateDebut)*@

                                            Debut

                                        </th>

                                        <th>
                                            @*Html.DisplayNameFor(model => model.DateFin)*@
                                            Fin
                                        </th>

                                        <th>
                                            @*Html.DisplayNameFor(model => model.ValidationN1)*@
                                            Validation N+1
                                        </th>
                                        <th>
                                            @*Html.DisplayNameFor(model => model.ValidationN2)*@
                                            Validation N+2
                                        </th>
                                        <th>
                                            @*Html.DisplayNameFor(model => model.ValidationN2)*@
                                            Validation RH
                                        </th>


                                    </tr>

                                </thead>
                                <tfoot>


                                </tfoot>

                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateDC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.employe.matricule)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.employe.NomComplet)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.typeconge.designation)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateDebut)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateFin)
                                            </td>

                                            <td>
                                                @if (item.ValidationN1 == "refuse")
                                                {


                                                    <p class="p-2 mb-2 bg-danger text-white">
                                                        @Html.DisplayFor(modelItem => item.ValidationN1)
                                                    </p>
                                                }
                                                else if (item.ValidationN1 == "En cours")
                                                {
                                                    <p class="p-2 mb-2 bg-warning text-dark">
                                                        @Html.DisplayFor(modelItem => item.ValidationN1)
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="p-2 mb-2 bg-success text-white">
                                                        @Html.DisplayFor(modelItem => item.ValidationN1)
                                                    </p>
                                                }
                                            </td>





                                            <td>

                                                @if (item.ValidationN2 == "refuse")
                                                {


                                                    <p class="p-2 mb-2 bg-danger text-white">
                                                        @Html.DisplayFor(modelItem => item.ValidationN2)
                                                    </p>
                                                }
                                                else if (item.ValidationN2 == "En cours")
                                                {
                                                    <p class="p-2 mb-2 bg-warning text-dark">
                                                        @Html.DisplayFor(modelItem => item.ValidationN2)
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="p-2 mb-2 bg-success text-white">
                                                        @Html.DisplayFor(modelItem => item.ValidationN2)
                                                    </p>
                                                }


                                            </td>
                                            <td>

                                                @if (item.ValdationRH == "refuse")
                                                {


                                                    <p class="p-2 mb-2 bg-danger text-white">
                                                        @Html.DisplayFor(modelItem => item.ValdationRH)
                                                    </p>
                                                }
                                                else if (item.ValdationRH == "En cours")
                                                {
                                                    <p class="p-2 mb-2 bg-warning text-dark">
                                                        @Html.DisplayFor(modelItem => item.ValdationRH)
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="p-2 mb-2 bg-success text-white">
                                                        @Html.DisplayFor(modelItem => item.ValdationRH)
                                                    </p>
                                                }


                                            </td>

                                            <td>
                                                @* <a href="@Url.Action("Delete", new {item.Id })" class="btn btn-danger">Delete</a>*@
                                                @* <a href="@Url.Action("Edit", new {item.Id })" class="btn btn-warning">Edit</a>*@
                                                @if (item.ValdationRH.Equals("accepte"))
                                                {

                                                    @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-primary " })
                                                    @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                                    if (item.IdtypeConge == 1)
                                                    {
                                                        //  <a href="javascript:popupBasique('Imprimer')">Imprimer1</a>

                                                    }
                                                }
                                                else if ((item.ValidationN1.Equals("accepte")) || (item.ValidationN2.Equals("accepte")))
                                                {
                                                    @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-primary disabled " })
                                                    @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })}
                                                else if (item.ValidationN1.Equals("En cours"))
                                                {
                                                    @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-primary " })
                                                    @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                                }
                                                else if (item.ValidationN1.Equals("refuse") || (item.ValidationN2.Equals("refuse")) || (item.ValdationRH.Equals("refuse")))
                                                {
                                                    @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-primary disabled " })
                                                    @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                                    @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                                }

                                                @* @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                                @* @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <script>

                    function fnExcelReport() {
                        var tab_text = "<table border='2px'>";
                        var tab_text = tab_text + "<tr bgcolor='#eeeeee' height='50'><th colspan='12' style='text-align:center; font-size:20px;'>Historique</th></tr><tr bgcolor='#bf997e' height='50' color='#FFFFFF'>";

                        var i = 0;
                        tab = document.getElementById('example'); // id of table




                        for (i = 0; i < tab.rows.length; i++) {
                            var row = tab.rows[i];
                            var numberOfCells = row.cells.length;
                            row.deleteCell(numberOfCells - 1);
                            tab_text = tab_text + tab.rows[i].innerHTML + "</tr>";

                        }

                        tab_text = tab_text + "</table>";
                        tab_text = tab_text.replace(/<a[^>]*>|<\/a>/g, "");//remove if u want links in your table
                        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
                        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

                        var ua = window.navigator.userAgent;
                        var msie = ua.indexOf("MSIE ");

                        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
                        {
                            txtArea1.document.open("txt/html", "replace");
                            txtArea1.document.write(tab_text);
                            txtArea1.document.close();
                            txtArea1.focus();
                            sa = txtArea1.document.execCommand("SaveAs", true, "Say T.xls");
                        }
                        else                 //other browser not tested on IE 11
                            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));


                        return (sa);
                    }


                </script>

                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
                <script src="js/scripts.js"></script>
                <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
                <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
                <script src="assets/demo/datatables-demo.js"></script>

                }
</body>

</html>