@model IEnumerable<GestionAbscences.Data.demandeconge>


</br>

</br></br></br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> Historique des Demande de Conge </title>

    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>
  
        <div class="sb-nav-fixed">


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Nombre de jour de conges de @Session["userName"]
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">

                            <tr>
                                <td style=" text-align:center;font-weight:bold;">
                                     Nombre de jour total 
                                </td>

                                <td style=" text-align:center;font-weight:bold;">
                                    Nombre de jour Restants 
                                </td>
                                </tr>
                            <tr>
                                <td style=" text-align:center;">
                                    @Session["nbjours"]
                                </td>


                                <td style=" text-align:center;">
                                    @Session["nbjoursR"]
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>



        <div class="sb-nav-fixed">


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Historique des demandes de conges de @Session["userName"]
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="table-success">
                                    <th>
                                        @*Html.DisplayNameFor(model => model.DateDC)*@
                                        Date creation DC
                                    </th>
                                    <th>
                                        @*Html.DisplayNameFor(model => model.employe.matricule)*@
                                        Matricule
                                    </th>
                                    <th>
                                        @*Html.DisplayNameFor(model => model.employe.NomComplet)*@
                                        Nom complet
                                    </th>
                                    <th>
                                        @*Html.DisplayNameFor(model => model.typeconge.designation)*@
                                        Designation
                                    </th>
                                    <th>
                                        @*Html.DisplayNameFor(model => model.DateDebut)*@

                                        Debut

                                    </th>

                                    <th>
                                        @*Html.DisplayNameFor(model => model.DateFin)*@
                                        Fin
                                    </th>

                                    <th>
                                        @*Html.DisplayNameFor(model => model.ValidationN1)*@
                                        Validation N+1
                                    </th>
                                    <th>
                                        @*Html.DisplayNameFor(model => model.ValidationN2)*@
                                        Validation N+2
                                    </th>
                                    <th>
                                        @*Html.DisplayNameFor(model => model.ValidationN2)*@
                                        Validation RH
                                    </th>
                                </tr>

                            </thead>
                            <tfoot>


                            </tfoot>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateDC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.employe.matricule)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.employe.NomComplet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.typeconge.designation)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateDebut)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateFin)
                                    </td>

                                    <td>
                                        @if (item.ValidationN1 == "refuse")
                                        {


                                            <p class="p-2 mb-2 bg-danger text-white">
                                                @Html.DisplayFor(modelItem => item.ValidationN1)
                                            </p>
                                        }
                                        else if (item.ValidationN1 == "En cours")
                                        {
                                            <p class="p-2 mb-2 bg-warning text-dark">
                                                @Html.DisplayFor(modelItem => item.ValidationN1)
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="p-2 mb-2 bg-success text-white">
                                                @Html.DisplayFor(modelItem => item.ValidationN1)
                                            </p>
                                        }
                                    </td>





                                    <td>

                                        @if (item.ValidationN2 == "refuse")
                                        {


                                            <p class="p-2 mb-2 bg-danger text-white">
                                                @Html.DisplayFor(modelItem => item.ValidationN2)
                                            </p>
                                        }
                                        else if (item.ValidationN2 == "En cours")
                                        {
                                            <p class="p-2 mb-2 bg-warning text-dark">
                                                @Html.DisplayFor(modelItem => item.ValidationN2)
                                            </p>
                                        }
                                        else if (item.ValidationN2 == "Accepte")
                                        {
                                            <p class="p-2 mb-2 bg-success text-white">
                                                @Html.DisplayFor(modelItem => item.ValidationN2)
                                            </p>
                                        }
                                        else
                                        {
                                        <p class="p-2 mb-2 bg-light text-dark">
                                            @Html.DisplayFor(modelItem => item.ValidationN2)
                                        </p>
                                        }


                                    </td>

                                    <td>

                                        @if (item.ValidationRH == "refuse")
                                        {


                                            <p class="p-2 mb-2 bg-danger text-white">
                                                @Html.DisplayFor(modelItem => item.ValidationRH)
                                            </p>
                                        }
                                        else if (item.ValidationRH == "En cours")
                                        {
                                            <p class="p-2 mb-2 bg-warning text-dark">
                                                @Html.DisplayFor(modelItem => item.ValidationRH)
                                            </p>
                                        }
                                        else if (item.ValidationRH == "Accepte")
                                        {
                                            <p class="p-2 mb-2 bg-success text-white">
                                                @Html.DisplayFor(modelItem => item.ValidationN2)
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="p-2 mb-2 bg-light text-dark">
                                                @Html.DisplayFor(modelItem => item.ValidationN2)
                                            </p>
                                        }


                                    </td>

                                    <td>
                                        @if (item.ValidationRH.Equals("Accepte") )
                                        {
                                            @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-primary " })
                                            @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                        }
                                        else if ((item.ValidationN1.Equals("Accepte")) || (item.ValidationN2.Equals("Accepte")))
                                        {
                                            @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-primary disabled " })
                                            @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })}
                                        else if (item.ValidationN1.Equals("En cours"))
                                        {
                                            @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-primary " })
                                            @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                        }
                                        else if (item.ValidationN1.Equals("refuse") || (item.ValidationN2.Equals("refuse")) || (item.ValidationRH.Equals("refuse")))
                                        {
                                            @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-primary disabled " })
                                            @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Imprimer titre", "Imprimer", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                            @Html.ActionLink("Modifier", "modifier", new { id = item.idDemandeConge }, new { @class = "btn btn-default disabled" })
                                        }

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>




        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>


</body>
</html>