
@model GestionAbscences.Data.demandeconge
@{
    ViewBag.Title = "Validation";
    Layout = "~/Views/Shared/_offlineLayout.cshtml";

}

<script type="text/javascript">
    function myfun() {
        window.print();
    }
</script>




<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div>
                <div class="row align-items-start text-decoration-underline" style="margin-top:30px;">
                    <div class="col-3">

                        <img src="~/Content/images/sonasid.jpg" width="120" height="120" style=" border-radius:8px; ">
                    </div>
                    <div class="col-1">


                    </div>

                    <div class="col-5">
                        <h1 class="text-center font-weight-bold my-2 font-italic  text-decoration-underline" style="color:coral; margin-top:30px; font-weight:bold; font-size:40px;"> TITRE DE CONGE </h1>
                    </div>
                </div>
                <hr>

                <div class="row align-items-start text-decoration-underline" style="margin-top:30px;">

                    <div class="col-7">


                    </div>

                    <div class="col-4">
                        <h1 class="text-center font-weight-bold my-2 font-italic  text-decoration-underline" style="color:black;  font-weight:bold; font-size:20px;"> Nador, Le @DateTime.Now.Date.ToString(("MM/dd/yyyy"))  </h1>
                    </div>
                </div>
                <div class="row align-items-start text-decoration-underline">
                    <div class="col-3">

                        <h1 class="text-center font-weight-bold my-2 font-italic text-decoration-underline" style="color: black; margin-top: 30px; font-weight: bold; font-size: 20px;"> APN/A/NS/XX/XXXX </h1>
                    </div>

                </div>
                <br><br><br><br>

                <div class="row align-items-start ">
                    <div class="col">

                        <h1 class="text-center font-weight-bold my-2 font-italic  text-decoration-underline" style=" margin-top: 30px; font-weight: bold; font-size: 20px;">
                            TITRE DE CONGE <br>
                            (Première tranche)
                            <br><br><br><br>
                        </h1>
                    </div>

                </div>





                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <p style="font-size:large;">
                            Monsieur @Model.employe.NomComplet   Mle @Model.employe.matricule, « grade »   à la SONASID, est autorisé à bénéficier au titre de l’année @DateTime.Now.Date.ToString(("yyyy")) d’un congé régulier de « durée » jours (xx j), à prendre du @Model.DateDebut au @Model.DateFin inclus.
                            <br><br>
                            A cette occasion, l’intéressé percevra l’indemnité forfaitaire de congé prévue par la note de service DG/IN° 43/92 du 1er Septembre 1992, et le protocole d’accord 2007 d’un montant de ……… Dirhams    (……..) Dirhams.
                            <br><br><br><br>
                            -	Agent « Marié ou Célibataire »
                            <br><br>
                            -	Nbre d’enfants
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr>
                        </p>
                    </div>
                }






            </div>
                </div>
            </div>
</div>

