@model GestionAbscences.Data.employe
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>@GestionAbscences.langagues.Resource1.DemandeDeCongé</title>
</head>
<body>
    <div class="container">



        <div class="container " s>

            <div class="row justify-content-center " style="margin-top:10px;">
                <div class="col-lg-12">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 " style="margin-right:2px;margin-top:10px; margin-left:100px;height:auto;">

                        <div class="card-header " style="background-color:#EFEFEF; "><h5 class="text-center font-weight-normal ">@GestionAbscences.langagues.Resource1.DemandeDeCongé (@GestionAbscences.langagues.Resource1.NombredejourRestants  : @Session["nbjoursR"].ToString()) </h5></div>

                        <div class="signup-form" style="margin-left:10px; ">

                            @using (Html.BeginForm("Dashboard1", "employe"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()



                                <div class="row align-items-start">
                                    <div class="col">



                                        <div>

                                        </div>
                                        <div class="form-group">

                                            <div class="form-radio">
                                                <div class="label-flex">
                                                    <label for="regulier">1.@GestionAbscences.langagues.Resource1.REGULIER</label>
                                                </div>
                                                <div class="form-radio-group">
                                                    <div class="form-radio-item">


                                                        @{
                                                            string x = Session["nbjours"].ToString();
                                                            string x1 = Session["nbjoursR"].ToString();

                                                            var y = float.Parse(x);
                                                            var y1 = float.Parse(x1);
                                                            var y2 = y - 10;

                                                            int t1 = Convert.ToInt32(Session["tranche1"]);
                                                            int t2 = Convert.ToInt32(Session["tranche2"]);
                                                            int t3 = Convert.ToInt32(Session["rel"]);

                                                            int t4 = Convert.ToInt32(Session["test1"]);
                                                            int t5 = Convert.ToInt32(Session["test2"]);
                                                            int t6 = Convert.ToInt32(Session["test3"]);

                                                        }





                                                        @if (t5 > 0)
                                                        {
                                                            if (t3 > 0 || t6 > 0)
                                                            {
                                                                <input type="radio" name="typeCongeIdTypeconge" id="reliquat" value="reliquat" disabled>
                                                                <label style="color:gray;" for="reliquat">@GestionAbscences.langagues.Resource1.Reliquat</label>

                                                            }

                                                            else
                                                            {
                                                                <input type="radio" name="typeCongeIdTypeconge" id="reliquat" value="reliquat" onclick="masquer_div1();">
                                                                <label for="reliquat">@GestionAbscences.langagues.Resource1.Reliquat</label>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="typeCongeIdTypeconge" id="reliquat" value="reliquat" disabled>
                                                            <label style="color:gray;" for="reliquat">@GestionAbscences.langagues.Resource1.Reliquat</label>
                                                        }



                                                        <span class="check"></span>
                                                    </div>


                                                    <div class="form-radio-item">

                                                        @if (t1 == 0 && t4 == 0)
                                                        {
                                                            <input type="radio" name="typeCongeIdTypeconge" id="1 ere tranche" value="1 ere tranche" onclick="masquer_div1();">
                                                            <label for="1 ere tranche"> @GestionAbscences.langagues.Resource1._1eretranche </label>



                                                        }

                                                        @if (t1 > 0 || t4 > 0)
                                                        {
                                                            <input type="radio" name="typeCongeIdTypeconge" id="1 ere tranche" value="1 ere tranche" disabled>
                                                            <label style="color:gray;" for="1 ere tranche">@GestionAbscences.langagues.Resource1._1eretranche</label>
                                                        }


                                                        <span class="check"></span>
                                                    </div>
                                                    <div class="form-radio-item">

                                                        @if (t4 > 0)
                                                        {
                                                            if (t2 > 0 || t5 > 0)
                                                            {
                                                                <input type="radio" name="typeCongeIdTypeconge" id="2 eme tranche" value="2 eme tranche" disabled>
                                                                <label style="color:gray;" for="2 eme tranche">@GestionAbscences.langagues.Resource1._2èmetranche</label>

                                                            }

                                                            else
                                                            {
                                                                <input type="radio" name="typeCongeIdTypeconge" id="2 eme tranche" value="2 eme tranche" onclick="masquer_div1();">
                                                                <label for="2 eme tranche">@GestionAbscences.langagues.Resource1._2èmetranche</label>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="typeCongeIdTypeconge" id="2 eme tranche" value="2 eme tranche" disabled>
                                                            <label style="color:gray;" for="2 eme tranche">@GestionAbscences.langagues.Resource1._2èmetranche</label>
                                                        }





                                                        <span class="check"></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="label-flex">
                                            <label for="Exceptionnel/cr">2.@GestionAbscences.langagues.Resource1.EXCEPTIONNEL_CR</label>
                                        </div>
                                        <div class="form-radio-group">
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="1/2 journée" value="1/2 journée" onclick="time();">
                                                <label for="1/2 journée">@GestionAbscences.langagues.Resource1._1_2journée</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="1 journée" value="1 journée" onclick="masquer_div1();">
                                                <label for="1 journée">@GestionAbscences.langagues.Resource1._1journée</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="1.5 journée" value="1.5 journée" onclick="time();">
                                                <label for="1.5 journée">@GestionAbscences.langagues.Resource1._1_5journée</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="2 journée" value="2 journée" onclick="masquer_div1();">
                                                <label for="2 journée">@GestionAbscences.langagues.Resource1._2_journée</label>
                                                <span class="check"></span>
                                            </div>
                                        </div>


                                        <div class="label-flex">
                                            <label for="EXCEPTIONNEL A.SOLDE">@GestionAbscences.langagues.Resource1.EXCEPTIONNELA_SOLDE</label>
                                        </div>
                                        <div class="form-radio-group">

                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="Naissance" value="Naissance" onclick="naiss();">
                                                <label for="Naissance">@GestionAbscences.langagues.Resource1.Naissance</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="Circoncision" value="Circoncision" onclick="naiss();">
                                                <label for="Circoncision">@GestionAbscences.langagues.Resource1.Circoncision</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">
                                            </div>
                                        </div>
                                        <div class="form-radio-group">

                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="Mariage" value="Mariage" onclick=" masquer_marriage()">
                                                <label for="Mariage">@GestionAbscences.langagues.Resource1.Mariage</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">

                                                <input type="radio" name="typeCongeIdTypeconge" id="Décès" value="Décès" onclick="masquer_div();">
                                                <label for="Décès">@GestionAbscences.langagues.Resource1.Décès</label>
                                                <span class="check"></span>
                                            </div>

                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="Opération chirurgicale" value="Opération chirurgicale" onclick="masquer_oper()">
                                                <label for="Opération chirurgicale">@GestionAbscences.langagues.Resource1.OpérationChirurgicale</label>
                                                <span class="check"></span>
                                            </div>
                                        </div>


                                        <div class="control-group" id="a_masquer" style="display:none;">
                                            <div class="row align-items-start">

                                                <div class="col-11">
                                                    <div class="controls">
                                                        @Html.DropDownList("deces1", new List<SelectListItem>
                                                          { new SelectListItem {Text= @GestionAbscences.langagues.Resource1.Parents , Value ="1"},
                                                          new SelectListItem {Text=@GestionAbscences.langagues.Resource1.Enfants , Value ="2"},
                                                          new SelectListItem {Text=@GestionAbscences.langagues.Resource1.Conjoint, Value ="3"},
                                                          new SelectListItem {Text= @GestionAbscences.langagues.Resource1.FrereSoeurSalarie, Value ="4"},
                                                          new SelectListItem {Text=@GestionAbscences.langagues.Resource1.FrereSoeurConjoint , Value ="5"},

                                       }, @GestionAbscences.langagues.Resource1.Selectionner)

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group" id="a_marriage" style="display:none;">
                                            <div class="row align-items-start">

                                                <div class="col-12">
                                                    <div class="controls">
                                                        @Html.DropDownList("marriage1", new List<SelectListItem>
                                                          { new SelectListItem {Text= @GestionAbscences.langagues.Resource1.DuSalarie  , Value ="1"},
                                                          new SelectListItem {Text=@GestionAbscences.langagues.Resource1.D_unenfantdusalarie , Value ="2"} }, @GestionAbscences.langagues.Resource1.Selectionner)

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group" id="a_operation" style="display:none;">
                                            <div class="row align-items-start">

                                                <div class="col-12">
                                                    <div class="controls">
                                                        @Html.DropDownList("operation", new List<SelectListItem>
                                                            { new SelectListItem {Text=@GestionAbscences.langagues.Resource1.Duconjoint , Value ="1"},
                                                            new SelectListItem {Text=@GestionAbscences.langagues.Resource1.enfantàcharge , Value ="2"} }, @GestionAbscences.langagues.Resource1.Selectionner)

                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="label-flex">
                                            <label for="RECUPERATION">4.@GestionAbscences.langagues.Resource1.RECUPERATION</label>
                                        </div>

                                        <div class="form-radio-group">
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="H.S" value="H.S" onclick="time();">
                                                <label for="H.S">@GestionAbscences.langagues.Resource1.H_S</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="J.R" value="J.R" onclick="masquer_div1();">
                                                <label for="J.R">@GestionAbscences.langagues.Resource1.J_R</label>
                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="J.F" value="J.F" onclick="masquer_div1();">
                                                <label for="J.F">@GestionAbscences.langagues.Resource1.J_F</label>
                                                <span class="check"></span>
                                            </div>
                                        </div>





                                       

                                        <div class="label-flex">
                                            <label for="regulier">5.@GestionAbscences.langagues.Resource1.SANSSOLDE</label>
                                        </div>

                                        <div class="form-radio-group">
                                            <div class="row align-items-start">
                                                <div class="col">
                                                    <div class="form-radio-item">
                                                        <input type="radio" name="typeCongeIdTypeconge" id="heures" value="heures" onclick="masquer_div1();">
                                                        <label for="heures">@GestionAbscences.langagues.Resource1.Heures</label>
                                                        <input type="text" id="heureSansSolde" name="heureSansSolde" style="padding:2px;">
                                                        <span class="check"></span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-radio-item">
                                                        <input type="radio" name="typeCongeIdTypeconge" id="jour" value="jours" onclick="masquer_div1();">
                                                        <label for="jour">@GestionAbscences.langagues.Resource1.Jours</label>
                                                        <input type="date" name="jourSansSolde" id="jourSansSolde" style="padding:2px;" />
                                                        <span class="check"></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col">
                                        <br />




                                        <div class="form-group col">
                                            <div></div>
                                            <div class="form-input">
                                                <div class="row align-items-start">
                                                    <div class="col-11">
                                                        <label for="nomComplet">@GestionAbscences.langagues.Resource1.Nom_Prenom</label>
                                                        <input type="text" class="form-control py-4" name="nomComplet" id="nomComplet" value="@Session["userName"]" />
                                                        @Html.ValidationMessageFor(model => model.NomComplet, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-input">
                                                <div class="row align-items-start">

                                                    <div class="col-6">
                                                        <label for="matricule">@GestionAbscences.langagues.Resource1.Matricule</label>
                                                        <input type="text" name="matricule" id="matricule" value="@Session["matricule"]" style="padding:2px;" />
                                                        @Html.ValidationMessageFor(model => model.idEmploye, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-5">
                                                        <label for="affectation">@GestionAbscences.langagues.Resource1.Affectation</label>
                                                        <input type="text" name="affectation" id="affectation" value="@Session["affectation"]" style="padding:2px;" />
                                                        @Html.ValidationMessageFor(model => model.affectation, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-input">
                                                <div class="row align-items-start">
                                                    <div class="col-11">
                                                        <label for="justification">@GestionAbscences.langagues.Resource1.Observation</label>
                                                        <input type="text" class="form-control py-4" name="justification" id="justification" value="" placeholder=@GestionAbscences.langagues.Resource1.votreObservation>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-input ">

                                                <label for="DATE FIN">@GestionAbscences.langagues.Resource1.DuréedeCongé</label>

                                                <label for="chequeno">@GestionAbscences.langagues.Resource1.DU</label>
                                                <div class="row align-items-start">
                                                    <div class="col-6">
                                                        <input type="DATE" name="dateDebut" id="dateDebut" style="padding:2px;" />
                                                        @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-5">
                                                        <input type="time" id="timeDebut" name="timeDebut" style="padding:2px;">
                                                        @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-input ">
                                                <label for="chequeno">@GestionAbscences.langagues.Resource1.AU</label>
                                                <div class="row align-items-start">
                                                    <div class="col-6">
                                                        <input type="DATE" name="dateFin" id="dateFin" style="padding:2px;" />
                                                        @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-5">
                                                        <input type="time" id="timeFin" name="timeFin" style="padding:2px;">
                                                        @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="form-submit ">

                                                <div class="row align-items-start">
                                                    <div class="col-6">
                                                        @*<input type="submit" value="Envoyer" class=" btn btn-lg btn-success " id="submit" name="submit" />*@
                                                        <button type="submit" style="padding-left:50px; padding-right:50px;" class="btn btn-primary btn-primary  btn-lg " id="submit" name="submit"> @GestionAbscences.langagues.Resource1.Valider </button>
                                                    </div>
                                                    <div class="col-5">
                                                        <button type="reset" style="padding-left:40px; padding-right:40px;" class="btn btn-primary btn-danger btn-lg" name="reset"> @GestionAbscences.langagues.Resource1.Annuler </button>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </div>







                                </div>
                                if (Session["Message"] != null)
                                {
                                    <script type="text/javascript">
                                       window.onload = function () {
                                           swal("@Session["Message"]");

                            };

                                    </script>
                                }




                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <script type="text/javascript">
            function masquer_div() {
                if (document.getElementById('a_masquer').style.display == 'none') {
                    document.getElementById('a_masquer').style.display = 'block';

                }
                if (document.getElementById('a_operation')) {
                    document.getElementById('a_operation').style.display = 'none';
                }
                if (document.getElementById('a_marriage')) {
                    document.getElementById('a_marriage').style.display = 'none';
                }
                document.getElementById('dateFin').disabled = true;
                document.getElementById('timeFin').disabled = true;
                document.getElementById('timeDebut').disabled = true;
            }

        </script>
        <script type="text/javascript">
            function masquer_marriage() {
                if (document.getElementById('a_marriage').style.display == 'none') {
                    document.getElementById('a_marriage').style.display = 'block';


                }
                if (document.getElementById('a_masquer')) {
                    document.getElementById('a_masquer').style.display = 'none';
                }
                if (document.getElementById('a_operation')) {
                    document.getElementById('a_operation').style.display = 'none';
                }
                document.getElementById('dateFin').disabled = true;
                document.getElementById('timeFin').disabled = true;
                document.getElementById('timeDebut').disabled = true;
            }

        </script>
        <script type="text/javascript">
            function masquer_oper() {
                if (document.getElementById('a_operation').style.display == 'none') {
                    document.getElementById('a_operation').style.display = 'block';

                }

                if (document.getElementById('a_masquer')) {
                    document.getElementById('a_masquer').style.display = 'none';
                }
                if (document.getElementById('a_marriage')) {
                    document.getElementById('a_marriage').style.display = 'none';
                }
                document.getElementById('dateFin').disabled = true;
                document.getElementById('timeFin').disabled = true;
                document.getElementById('timeDebut').disabled = true;


            }

        </script>
        <script type="text/javascript">
            function masquer_div1() {
                if (document.getElementById('a_masquer')) {
                    document.getElementById('a_masquer').style.display = 'none';

                }
                if (document.getElementById('a_marriage')) {
                    document.getElementById('a_marriage').style.display = 'none';
                }
                if (document.getElementById('a_operation')) {
                    document.getElementById('a_operation').style.display = 'none';
                }
                document.getElementById('dateFin').disabled = false;
                document.getElementById('timeFin').disabled = true;
                document.getElementById('timeDebut').disabled = true;

            }

        </script>
        <script type="text/javascript">
            function time() {
                if (document.getElementById('a_masquer')) {
                    document.getElementById('a_masquer').style.display = 'none';

                }
                if (document.getElementById('a_marriage')) {
                    document.getElementById('a_marriage').style.display = 'none';
                }
                if (document.getElementById('a_operation')) {
                    document.getElementById('a_operation').style.display = 'none';
                }
                document.getElementById('dateFin').disabled = false;
                document.getElementById('timeFin').disabled = false;
                document.getElementById('timeDebut').disabled = false;

            }

        </script>
        <script type="text/javascript">
            function naiss() {
                if (document.getElementById('a_masquer')) {
                    document.getElementById('a_masquer').style.display = 'none';

                }
                if (document.getElementById('a_marriage')) {
                    document.getElementById('a_marriage').style.display = 'none';
                }
                if (document.getElementById('a_operation')) {
                    document.getElementById('a_operation').style.display = 'none';
                }
                document.getElementById('dateFin').disabled = true;
                document.getElementById('timeFin').disabled = true;
               
                document.getElementById('timeDebut').disabled = true;

            }

        </script>

        <script src="~/Content/cont2/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/cont2/js/main.js"></script>
        <link rel="stylesheet" href="~/Content/cont2/css/style.css">






    </div>













  
</body>
</html>