@model GestionAbscences.Data.employe
<title> Demange de Conge </title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<!-- Font Icon -->

<link rel="stylesheet" href="~/Content/cont2/fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/Content/cont2/vendor/nouislider/nouislider.min.css">

<div class="container">

    <h4 style="color:brown;">
        @GestionAbscences.Langagues.Resource1.Votredemandeestencoursdetraitement
    </h4>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-0 " style="margin-right:2px; margin-left:60px;">

                <div class="card-header " style="background-color:#EFEFEF; "><h3 class="text-center font-weight-normal ">@GestionAbscences.Langagues.Resource1.DemandeDeCongé <h5 class="text-center font-weight-normal ">(Nombre de jours qui reste : @Session["nbjoursR"].ToString())</h5> </h3></div>



                <div class="signup-form" style="margin-left:20px; ">

                    @using (Html.BeginForm("modifier", "employe"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div class="row align-items-start">
                            <div class="col">
                                <div class="label-flex">

                                    <label class="text-center text-decoration-underline" style="color:cornflowerblue" for="TITRE">Choix de Congé</label>
                                </div>


                                <div>

                                </div>
                                <div class="form-group">

                                    <div class="form-radio">
                                        <div class="label-flex">
                                            <label for="regulier">1.@GestionAbscences.Langagues.Resource1.REGULIER</label>
                                        </div>
                                        <div class="form-radio-group">
                                            <div class="form-radio-item">


                                                <input type="radio" name="typeCongeIdTypeconge" id="reliquat" value="reliquat" disabled>
                                                <label style="color:gray;" for="reliquat">@GestionAbscences.Langagues.Resource1.Reliquat
                                                </label>



                                                <span class="check"></span>
                                            </div>


                                            <div class="form-radio-item">

                                                <input type="radio" name="typeCongeIdTypeconge" id="1 ere tranche" value="1 ere tranche" disabled>
                                                <label style="color:gray;" for="1ère tranche">@GestionAbscences.Langagues.Resource1._1eretranche</label>


                                                <span class="check"></span>
                                            </div>
                                            <div class="form-radio-item">


                                                <input type="radio" name="typeCongeIdTypeconge" id="2 eme tranche" value="2 eme tranche" disabled>
                                                <label style="color:gray;" for="2 eme tranche">@GestionAbscences.Langagues.Resource1._2èmetranche</label>


                                                <span class="check"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="label-flex">
                                    <label for="Exceptionnel/cr">2.@GestionAbscences.Langagues.Resource1.EXCEPTIONNEL_CR</label>
                                </div>
                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="1/2 journée" value="1/2 journée" disabled>
                                        <label style="color:gray;" for="1/2 journée">@GestionAbscences.Langagues.Resource1._1_2journée</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="1 journée" value="1 journée" disabled>
                                        <label style="color:gray;" for="1 journée">@GestionAbscences.Langagues.Resource1._1journée</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="1.5 journée" value="1.5 journée" disabled>
                                        <label style="color:gray;" for="1.5 journée">@GestionAbscences.Langagues.Resource1._1_5journée</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="2 journée" value="2 journée" disabled>
                                        <label style="color:gray;" for="2 journée">@GestionAbscences.Langagues.Resource1._2_journée</label>
                                        <span class="check"></span>
                                    </div>
                                </div>


                                <div class="label-flex">
                                    <label for="EXCEPTIONNEL A.SOLDE">3.@GestionAbscences.Langagues.Resource1.EXCEPTIONNELA_SOLDE</label>
                                </div>
                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="Mariage" value="Mariage" disabled>
                                        <label style="color:gray;" for="Mariage">@GestionAbscences.Langagues.Resource1.Mariage</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="Naissance" value="Naissance" disabled>
                                        <label style="color:gray;" for="Naissance">@GestionAbscences.Langagues.Resource1.Naissance</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="Décès" value="Décès" disabled>
                                        <label style="color:gray;" for="Décès">@GestionAbscences.Langagues.Resource1.Décès</label>
                                        <span class="check"></span>
                                    </div>
                                </div>
                                <div class="label-flex">
                                    <label for="RECUPERATION">4.@GestionAbscences.Langagues.Resource1.RECUPERATION</label>
                                </div>

                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="H.S" value="H.S" disabled>
                                        <label style="color:gray;" for="H.S">@GestionAbscences.Langagues.Resource1.H_S</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="J.R" value="J.R" disabled>
                                        <label style="color:gray;" for="J.R">@GestionAbscences.Langagues.Resource1.J_R</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="typeCongeIdTypeconge" id="J.F" value="J.F" disabled>
                                        <label style="color:gray;" for="J.F">@GestionAbscences.Langagues.Resource1.J_F</label>
                                        <span class="check"></span>
                                    </div>
                                </div>





                                <div class="form-input">


                                    <label for="chequeno">@GestionAbscences.Langagues.Resource1.DU</label>
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <input type="DATE" name="date1" id="date1" style="padding:2px;" />
                                        </div>
                                        <div class="col">
                                            <input type="time" id="time1" name="time1" style="padding:2px;">

                                        </div>
                                    </div>

                                </div>

                                <div class="label-flex">
                                    <label for="regulier">5.@GestionAbscences.Langagues.Resource1.SANSSOLDE</label>
                                </div>

                                <div class="form-radio-group">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="heures" value="heures" disabled>
                                                <label style="color:gray;" for="heures">@GestionAbscences.Langagues.Resource1.Heures</label>
                                                <input type="text" id="heureSansSolde" name="heureSansSolde" style="padding:2px;">
                                                <span class="check"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-radio-item">
                                                <input type="radio" name="typeCongeIdTypeconge" id="jour" value="jours" disabled>
                                                <label style="color:gray;" for="jour">@GestionAbscences.Langagues.Resource1.Jours</label>
                                                <input type="date" name="jourSansSolde" id="jourSansSolde" style="padding:2px;" />
                                                <span class="check"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col">
                                <br />




                                <div class="form-group col">
                                    <div></div>
                                    <div class="form-input">
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <label for="nomComplet">@GestionAbscences.Langagues.Resource1.Nom_Prenom</label>
                                                <input type="text" name="nomComplet" id="nomComplet" value="@Session["userName"]" style="padding:2px; " />
                                                @Html.ValidationMessageFor(model => model.NomComplet, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <div class="row align-items-start">

                                            <div class="col">
                                                <label for="matricule">@GestionAbscences.Langagues.Resource1.Matricule</label>
                                                <input type="text" name="matricule" id="matricule" value="@Session["matricule"]" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.idEmploye, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col">
                                                <label for="affectation">@GestionAbscences.Langagues.Resource1.Affectation</label>
                                                <input type="text" name="affectation" id="affectation" value="@Session["affectation"]" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.affectation, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input ">

                                        <label for="DATE FIN">@GestionAbscences.Langagues.Resource1.DuréedeCongé</label>

                                        <label for="chequeno">@GestionAbscences.Langagues.Resource1.DU</label>
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <input type="DATE" name="dateDebut" id="dateDebut" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col">
                                                <input type="time" id="timeDebut" name="timeDebut" style="padding:2px;">
                                                @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-input ">
                                        <label for="chequeno">@GestionAbscences.Langagues.Resource1.AU</label>
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <input type="DATE" name="dateFin" id="dateFin" style="padding:2px;" />
                                                @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col">
                                                <input type="time" id="timeFin" name="timeFin" style="padding:2px;">
                                                @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="form-group shadow-textarea">
                                            <label for="justification">@GestionAbscences.Langagues.Resource1.Observation</label>
                                            <textarea class="form-control z-depth-1" name="justification" id="justification" rows="4" placeholder="votre observation"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-submit ">

                                        <div class="row align-items-start">
                                            <div class="col">
                                                @*<input type="submit" value="Envoyer" class=" btn btn-lg btn-success " id="submit" name="submit" />*@
                                                <button type="submit" style="padding-left:60px; padding-right:60px;" class="btn btn-success btn-primary  btn-lg bt" name="modifier" value="valide"> @GestionAbscences.Langagues.Resource1.Valider </button>
                                            </div> <div class="col">
                                                <button type="submit" style="padding-left:40px; padding-right:40px;" class="btn btn-primary btn-primary btn-lg" name="modifier" value="annule">Annuler </button>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>



                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}



<!-- JS -->
<script src="~/Content/cont2/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/cont2/vendor/nouislider/nouislider.min.js"></script>
<script src="~/Content/cont2/vendor/wnumb/wNumb.js"></script>
<script src="~/Content/cont2/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/Content/cont2/vendor/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/Content/cont2/js/main.js"></script>




<!-- Main css -->
<link rel="stylesheet" href="~/Content/cont2/css/style.css">